html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #1f1f1f;
}

.container {
  max-width: 1100px;
  margin: 24px auto;
  padding: 0 24px;
}


.feedback-dialog-panel .mat-mdc-dialog-surface {
  border-radius: 18px !important;
  overflow: visible !important; 
  padding-top: 24px;
}

